<div class="container mt-5">
    <h1>Log in using GitHub</h1>
    <a href="/api/jwt/github" class="btn btn-dark mt-3">Sign in with GitHub</a>
    <br />
    <h2>You don't want to use GitHub? You can use our links:</h2>
    <p>Not registered?<a href="/users/register">Sign up here</a></p>
    <p>¿You already have an account with us?
    <a href="/users/login">Login here</a></p>
</div>