<div>
  <h1>Register</h1>
  <form id="registerForm">
    <label>Name</label>
    <input type="text" name="first_name" required />
    <label>Last Name</label>
    <input type="text" name="last_name" required />
    <label>Email</label>
    <input type="email" name="email" required />
    <label>Age</label>
    <input type="text" name="age" required />
    <label>Password</label>
    <input type="password" name="password" required />
    <input type="submit" value="Register" />
  </form>
  <p>You already have an account?
    <a href="/users/login">Login here</a></p>
</div>
<script src="/js/register.js"></script>